body{
  background-color: #e7e7e7;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0rem !important;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}
.contenedor-primario label{
  color: black;
}
.contenedor-primario {
    height: 100vh;
    width: 100%;
    flex-direction: column; 
    
  }
  .contenedor-segundario{
    
    flex-direction: column; 
    padding-left: 400px;
    padding-right: 150px;
    
  
}


  .formulario{
    box-shadow: 0px 0px 50px #5555;
    background: #fff;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    
  }
  .input{
    background: #edede9;
  }
    
  
  .boton-generar_usuario{
    background-color: #e54852;
    color: #fff;
    align-items: center;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    justify-content: center;
    padding: .3rem .8rem;
    border: none;
  }
  .boton-generar_usuario:hover{
    background-color: #f23945;
  }
  
  /*boton de buscar datos*/
  .boton-buscar{
    background-color: #198754;
    color: #fff;
    align-items: center;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    justify-content: center;
    padding: .3rem .8rem;
    border: none;
  }
  .boton-buscar:hover{
    background-color: #157347;
  }


.tabla{
  margin-top: 90px;
    margin-bottom: 10px;
    padding: 10px 5px 5px 5px;
  }
  .tabla h4{
    font-size: 20px;
}
/** footer universidad y creadores y ayudante */
.contenedor-upta{
  flex-direction: column;
  display: flex;
  justify-content: end;
  height: 100vh;
 
}
.contenedor-upta div{
  background-color: white;
  text-align: center;
  padding: 0 0 0 174px;
}
.contenedor-upta p{
  margin-bottom: 0;
  color: #9597a8;
  font-size: 15px;
}

  @media only screen and (max-width: 1024px), handheld and (orientation: landscape){
   .contenedor-segundario{
    padding-left: 100px;
    padding-right: 80px;
   }
   .contenedor-upta div{
 
    padding: 0 0 0 0px;
    }
}

  @media only screen and (max-width: 768px), handheld and (orientation: landscape){
    .contenedor-segundario{
     padding-left: 80px;
     padding-right: 80px;
    }

    .tabla{
      flex-wrap: wrap;
      
    }
    
   }
   @media only screen and (max-width: 520px), handheld and (orientation: landscape){
    .contenedor-segundario{
     padding-left:10px;
     padding-right: 10px;
    }
    .tabla h4{
      font-size: 15px;
    }
     
     
   }
    