body {
  background-color: #e7e7e7;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

.contenedor-primario {
  height: 100vh;
  flex-direction: column;
}

.contenedor-segundario {
  flex-direction: column;
  width: 100%;
  padding-left: 245px;
  padding-right: 25px;
}

.tabla {
  margin-top: 100px;
  margin-bottom: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
}

.tabla h4 {
  font-size: 20px;
}

.formulario {
  box-shadow: 0px 0px 50px #5555;
  background: white;
  padding-bottom: 10px;
  padding: 15px;
  margin-bottom: 24px;
  width: 100%;
}

a {
  text-decoration: none;

}

.boton-alerts-azul:hover {
  color: white;
}

.input-auto {
  background: #edede9 !important;
}

#contenedor_identificador {
  display: none;
}

#formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

#formulario label {
  color: black;
}

/** footer universidad y creadores y ayudante */
.contenedor-upta {
  flex-direction: column;
  display: flex;
  justify-content: end;
  height: 100vh;

}

.contenedor-upta div {
  background-color: white;
  text-align: center;
  padding: 0 0 0 174px;
}

.contenedor-upta p {
  margin-bottom: 0;
  color: #9597a8;
  font-size: 15px;
}

.boton-crear {
  margin-right: 15px;
}

/*modal de ausencia de la tabla permisos*/
@media (min-width: 576px) {
  .modal-dialog {
    max-width: none;
    margin-right: auto;
    margin-left: auto
  }
}

@media only screen and (max-width: 1024px),
handheld and (orientation: landscape) {

  .contenedor-upta div {
    padding: 0;
  }

  .contenedor-segundario {
    padding-left: 35px;
    padding-right: 35px;
  }

}

@media only screen and (max-width: 780px),
handheld and (orientation: landscape) {
  .tabla {
    margin-top: 100px;
  }

  .formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }


}

@media only screen and (max-width:520px),
handheld and (orientation: landscape) {
  .contenedor-segundario {
    padding-left: 10px;
    padding-right: 10px;
  }

  .boton-crear {
    margin-right: 0px;
  }

  .contenedor-boton-admin {
    flex-wrap: wrap;
    justify-content: center;
  }

  .tabla h4 {
    font-size: 15px;
  }

  #formulario {
    display: flex;
    flex-direction: column;
  }

}